body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 97vh;
    margin: 0;
}

.mainContainer {
    padding: 10px;
    border-radius: 10%;
    flex-shrink: 1;
    width: 400px;
    height: 500px;
    display: flex;
    background-color: darkgray;
    flex-direction: column;
    box-sizing: border-box;
}

.screen {
    background-color: lightgreen;
    /* flex:1; */
    width: 95%;
    height: 80px;
    margin: 25px auto 10px auto;
}
.oparators {
    flex:1;
}